.logo img {
  width: 150px;
}

.adminSection {
  position: relative;
  span {
    position: absolute;
    top: -9px;
    left: 0px;
    background: var(--third-colr);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 23px;
    color: var(--white-color);
  }
  .iconNotifications {
    font-size: 30px;
    color: var(--four-color);
  }
}

.adminAvtart {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  padding: 2px;
  margin-left: 30px;
}
